body {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  margin: 20px;
}

#game {
  background: #eee;
  display: inline-block;
  padding: 20px;
}

#actions {
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}
#actions li {
  float: left;
  margin: 0px 10px 0px 0px;
}
#actions a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px -1px #ddd;
}

#board {
  margin: 20px 0px 0px 0px;
}
#board .row {
  overflow: hidden;
  margin: 0px 0px 1px 0px;
}
#board .row:last-child {
  margin: 0px;
}
#board .cell {
  background: #fff;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 0px 1px 0px 0px;
  cursor: pointer;
}
#board .cell:last-child {
  margin: 0px;
}
#board .cell:hover {
  background: #f5f5f5;
}
#board .cell:active {
  background: #555;
}
