body {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#game {
  background: #eee;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#stats {
  flex: none;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#stats .stat {
  flex: 1;
  text-align: center;
  justify-content: center;
}
#actions {
  flex: none;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#actions ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#actions li {
  float: left;
  margin: 0px 10px 0px 0px;
}
#actions a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px -1px #ddd;
}

#board {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex: 1;
  flex-direction: column;
}
#board .row {
  margin: 1px 0px 1px 0px;
  flex: 1;
  display: flex;
}
#board .row:last-child {
  margin: 0px;
}
#board .tile {
  flex: 1;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
  color: #fff;
  text-align: center;
  line-height: 400%;
  background: #ddd;
  display: flex;
  float: left;
  margin: 0px 1px 0px 0px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background 0.25s;
  align-items: center;
  justify-content: center;
}
#board .tile:last-child {
  margin: 0px;
}
#board .tile:hover {
  background: #f5f5f5;
}
#board .tile.hint:hover {
  background: #fff5f5;
}
#board .tile:active {
  background: #555;
}
#board .tile.point {
  background: #B5D993;
  color: #ffffff;
}
#board .tile.correct {
  background: hsl(220,70%,75%);
  color: #ddd;
}
#board .tile.incorrect {
  background: #ddd;
  color: #c00;
  font-size: 200%;
  z-index: 0;
  -webkit-animation-name: explode;
  -webkit-animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translateZ(0); /* use GPU if possible */

  animation-name: explode;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform: translateZ(0); /* use GPU if possible */
}
#board .tile.point {
  background: #B5D993;
  color: #ffffff;
}
#board .tile.nopoint {
  background: #FADB7F;
  color: #ffffff;
}

@keyframes explode {
  0% {
    background: inherit;
    z-index: 2;
  }
  5% {
    background: red;
    transform: scale(1.41421356,1.41421356);
    border-radius: 25px;
  }
  30% {
    background: yellow;
  }
  40% {
    background: white;
    transform: scale(3,3);
    opacity: 0.5;
  }
  80% {
    border-radius: 25px;
    opacity: 0;
    transform: scale(6,6);
    z-index: 0;
  }
  85% {
    border-radius: 0;
    opacity: 0;
    transform: scale(1,1);
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
@-webkit-keyframes explode {
  0% {
    background: inherit;
    z-index: 2;
  }
  5% {
    background: red;
    -webkit-transform: scale(1.41421356,1.41421356);
    border-radius: 25px;
    opacity: 0.5;
  }
  30% {
    background: yellow;
  }
  40% {
    background: white;
    -webkit-transform: scale(3,3);
  }
  85% {
    border-radius: 25px;
    opacity: 0;
    -webkit-transform: scale(6,6);
    z-index: 0;
  }
  86% {
    border-radius: 0;
    opacity: 0;
    -webkit-transform: scale(1,1);
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
